{% extends 'base.html.twig' %}


 {% block corps %}
         <!--   <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <form action="" method="post">
                            <label>MENU CLIENT</label>
                            <div class="form-group">
                                <label for="num">Numero du client:</label>
                                <input type="text" class="form-control" id="num" name="num" placeholder="Votre numero">
                            </div>
                            <div class="form-group">
                                <label for="nom">Nom du client:</label>
                                <input type="text" class="form-control" id="nom" name="nom" placeholder="Votre nom">
                            </div>
                            <div class="form-group">
                                <label for="adresse">Adresse:</label>
                                <input type="text" class="form-control" id="adresse" name="adresse">
                            </div>
                            <div class="form-group">
                                <label for="tel">Numero telephone:</label>
                                <input type="text" class="form-control" id="tel" name="tel">
                            </div>
                            <input type="submit" class="btn btn-primary" value="Envoyer"/>
                        </form>
                    </div>
                </div>
            </div>-->
 {% endblock %}